.form__button {
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  color: rgba(255, 255, 255, 0.79);
  background-color: #4d5061c1;
  letter-spacing: 1px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.form__button:hover {
  transform: translateY(-1px);
}

.form__button:focus {
  border: 2px solid #186889;
}

.form__button:active {
  background-color: #3b3c47;
  transform: translateY(3px);
}

.form__button:disabled {
  background-color: #aeb0ba;
  cursor: not-allowed;
}